
*{
    margin: 0;
    padding: 0;
}
.dashContainer {
  display: flex;
  /* background: oldlace; */
  flex-direction: column;
  justify-content: space-around;
  width: auto;
  min-height: 100vh;       

  background: #f7f7f5;
}
.dash-material-container {
  width: auto;
  height: auto;
  /* overflow: hidden; */
  margin: 1%;
}
.dash-menu-container {
 /* position: fixed; */
  height: auto;
padding: 0% 2%;
margin-right: 0;
  
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 5px 20px rgb(226, 226, 226);
}

.menu-item,
.menu-item-covid {

height: 100%;
  padding:1%;
  /* background: rgb(240, 240, 239); */
  /* margin-top: 10%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition-duration: 800ms;
  /* color: rgb(255, 255, 255); */
  font-size: 0.9em;
  font-weight: 600;
}
.menu-right-cont{
  width: 40%;
  justify-content: space-around;
  display: flex;
}
.menu-item {
  width: 100%;
  margin:1% ;
  padding: 2%;
  cursor: pointer;
}
.menu-item:hover {
  background: #b66615;
  color: rgb(255, 255, 255);
  box-shadow: 0px 2px 10px rgb(216, 213, 213);
}
.menu-icon {
  font-size: 1.5em;
}
.covid-icon {
  width: 5em;
  animation: covidIcon 30s ease-in infinite;
 
}
@keyframes covidIcon {
  0% {
    transform: rotate(0deg);
  }
  /* 25%{
        transform: rotate(90deg);
        
    }    

        75%{
        transform: rotate(270deg);
        
    }   */

  /* 50%{
        transform: rotate(360deg);
        
    }  */
  100% {
    transform: rotate(360deg);
  }
}

.dash-right-container {


  /* background: orange; */

  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.dash-left-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dash-material-container {
  display: flex;
  justify-content: space-between;
}
.total-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.total-cases-card {
  /* background:url("./Images/Web 1920 – 1.svg") no-repeat;
    background-size: cover; */
  background: white;
  width: 100%;
  margin: 0% 1%;
  padding:2%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(226, 226, 226);
  display: flex;
  justify-content: space-between;
}
.total-case-number {
  font-weight: bold;
  font-size: 1.7em;
  /* line-height: 0.5em; */
}
.total-case-text {
  color: #9b9b9b;
  font-weight: bold;
  font-size: 1.3em;
  /* line-height: 0.9em; */
  margin: 0;
  width: 100%;
  padding: 5% 0%;
}
.total-cases-detail {
  height: auto;
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
}
.total-case-chart {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-and-details-container {

margin: 1%;

  /* overflow: hidden; */
  background: white;

  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(226, 226, 226);
  display: flex;
 justify-content: space-evenly;
padding: 2%;  
}
.awareness-container {
    /* overflow: hidden; */
  display: flex;
  justify-content: space-around;
}

.map-title-outer {
  font-weight: bold;
  font-size: 1.2em;
  /* line-height: 1px; */
  padding: 2%;
}
.map-state-district-container {
  /* background-color: indianred; */
 
  /* background: rgb(241, 244, 245); */
  padding: 0%;
}

.state-data-card {
  /* background-color: #f7f4f4; */
  padding: 2%;
  width: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(223, 218, 218);
  box-shadow: 0px 1px 10px rgb(241, 241, 241);

  margin: 1% 5%;
}
.recovery-ratio-cont {
  border: 1px solid rgb(223, 218, 218);

  min-width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f30909; */
  padding: 5%;
  border-radius: 50%;
  /* background: radial-gradient(circle, rgb(245, 212, 212) 0%, rgb(255, 255, 255) 100%); */
  /* animation: bground  infinite; */
}

.recovery-percent {
  font-weight: 700;
height: 100%;
  border-radius: 50%;
  padding: 1%;
  font-size: 0.9em;
  /* width: 50px;
 height: 50px; */
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 223, 224);
  color: rgb(99, 98, 98);
}
.state-data {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex-wrap: wrap;
  /* align-items: cent; */
  flex-grow: 2;
  margin: 0% 5%;
  /* background: orange; */
  padding: 1%;
}
.state-name {
    padding: 5% 1%;
  font-size: 1.2em;
  font-weight: 700;
}
.state-confirmed-recovered {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;

  font-size: 0.9em;

  font-weight: 600;
  color: #838282;
}
.state-confirmed-recovered > span {
  margin:  1% 2%;
}
.state-data-card-container {

height:20em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  overflow-x: hidden;
}
.aw-card {
  margin: 1%;
  padding: 1% 3%;
  width: 100%;

  background: rgb(255, 255, 255);
  border-radius: 10px;
  /* box-shadow: 0px 5px 20px rgb(226, 226, 226); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */

}

.aw-card-title {
  width: fit-content;
  font-size: 0.8em;
  font-weight: 750;
  color: #0d346e;
  text-align: center;
  padding: 0% 4%;
  border-radius: 10px;
  background: rgb(218, 218, 218);
  margin: 2%;
}
.news-card {
  width: fit-content;
  font-size: 0.8em;
  font-weight: 750;
  color: #0d346e;
  text-align: center;
  padding: 2%;
  border-radius: 10px;
  background: rgb(252, 252, 252);
  margin: 2%;
}
.news-card-cont {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 5%;
  overflow: hidden;
}
.map-india-container{
  height:100%;
  /* background-color: #0d346e; */
}
.in-map{
  height: auto;
  border-radius: 10px;
 
  overflow: hidden;
}